# Зависимости
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Продакт-сборки
/build/

# Переменные окружения
.env*.local

# Локальные файлы
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*

# Vercel
.vercel/